@mixin box($width, $height, $position: relative) {
    width: $width;
    height: $height;
    position: $position;
    box-sizing: border-box;
}

@mixin flex($align: center, $justify: center) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin center {
    display: block;
    margin: 0 auto;
}

@mixin mobile {
    @media (max-width: #{768px - 1px}) {
        @content;
    }
}

@mixin pad {
    @media (min-width: 768px) and (max-width: #{1024px - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1024px) {
        @content;
    }
}
